In [354]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [355]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1153,tt0313542,60000000,80154140,Runaway Jury,John Cusack|Gene Hackman|Dustin Hoffman|Rachel...,Gary Fleder,Trials are too important to be decided by juries.,A juror on the inside and a woman on the outsi...,127,Drama|Thriller,Regency Enterprises|Epsilon Motion Pictures|Ne...,10/9/2003,6.8,2003
975,tt1194173,130000000,276572938,The Bourne Legacy,Jeremy Renner|Rachel Weisz|Edward Norton|Scott...,Tony Gilroy,There Was Never Just One,The fourth installment of the highly successfu...,120,Action|Thriller,Universal Pictures|Dentsu|Relativity Media|Ken...,8/8/2012,5.9,2012
453,tt1385867,30000000,55583804,Cop Out,Bruce Willis|Tracy Morgan|Juan Carlos HernÃ¡nd...,Kevin Smith,Rock out with your Glock out,Officers Jimmy Monroe and Paul Hodges have the...,107,Action|Comedy|Crime,Warner Bros.,2/26/2010,5.5,2010
693,tt1000774,65000000,415252786,Sex and the City,Sarah Jessica Parker|Kim Cattrall|Cynthia Nixo...,Michael Patrick King,Get carried away.,A New York writer on sex and love is finally g...,145,Comedy|Drama|Romance,New Line Cinema|Darren Star Productions|Home B...,5/12/2008,6.1,2008
1333,tt0396752,25000000,122489822,Nanny McPhee,Emma Thompson|Colin Firth|Kelly Macdonald|Thom...,Kirk Jones,You'll Learn To Love Her. Warts And All.,Widower Cedric Brown (Colin Firth) hires Nanny...,97,Fantasy|Comedy|Family,Universal Pictures|Three Strange Angels|Studio...,10/21/2005,6.1,2005

In [356]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [357]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [358]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
# answers['1'] = '2. Spider-Man 3 (tt0413300)'

answers['1'] = 'Pirates of the Caribbean: On Stranger Tides'
# если ответили верно, можете добавить комментарий со значком "+"

In [359]:
data[data['budget'] == data['budget'].max()].original_title #+

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

ВАРИАНТ 2

In [360]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [361]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals'

In [362]:
data[data['runtime'] == data['runtime'].max()].original_title #+

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [363]:
data[data['runtime'] == data['runtime'].min()].original_title

768    Winnie the Pooh
Name: original_title, dtype: object

In [364]:
answers['3']='Winnie the Pooh' #+

# 4. Какова средняя длительность фильмов?

In [365]:
data.runtime.mean()

109.6585494970884

In [366]:
answers['4']='110' #+

# 5. Каково медианное значение длительности фильмов?

In [367]:
answers['5'] = np.median(data.runtime) #+

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [368]:
data['profit'] = data.revenue - data.budget
answers['6'] = data[data.profit==data.profit.max()].original_title #+

# 7. Какой фильм самый убыточный?

In [369]:
answers['7'] = data[data.profit==data.profit.min()].original_title #+
data[data.profit==data.profit.min()].original_title

1245    The Lone Ranger
Name: original_title, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [370]:
data[data.revenue>data.budget].shape[0]
answers['8'] = 1478 #+

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [371]:
tmp_df = data[data.release_year == 2008]
tmp_df[tmp_df.revenue == tmp_df.revenue.max()].original_title
answers['9'] = 'The Dark Knight' #+

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [372]:
tmp_df = data[(data.release_year) >= 2012 & (data.release_year <= 2014)]
tmp_df[tmp_df.profit == tmp_df.profit.min()].original_title
answers['10'] = 'The Lone Ranger' #+

# 11. Какого жанра фильмов больше всего?

In [373]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

ВАРИАНТ 2

In [374]:
data11 = data.copy()
data11['gener'] = data11.genres.str.split('|')
data11 = data11.explode('gener')
data11.groupby('gener')['imdb_id'].count().sort_values()

gener
Foreign              2
Documentary          8
Western             19
War                 58
History             62
Music               64
Animation          139
Mystery            168
Horror             176
Fantasy            222
Science Fiction    248
Family             260
Romance            308
Crime              315
Adventure          415
Action             582
Thriller           596
Comedy             683
Drama              782
Name: imdb_id, dtype: int64

In [375]:
answers['11'] = 'Drama' #+

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [376]:
data12 = data.copy()
data12['gener'] = data12.genres.str.split('|')
data12 = data12.explode('gener')
data12[data11.revenue> data12.budget].groupby('gener')['imdb_id'].count().sort_values()

gener
Documentary          7
Western             12
War                 41
History             46
Music               47
Mystery            119
Animation          120
Horror             150
Fantasy            188
Science Fiction    195
Family             226
Crime              231
Romance            242
Adventure          337
Action             444
Thriller           446
Comedy             551
Drama              560
Name: imdb_id, dtype: int64

In [377]:
answers['12'] = 'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [378]:
data.groupby('director')['revenue'].sum().sort_values(ascending = False)

director
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
                        ...
David MichÃ´d           2295423
Steven Shainberg        2281089
Paul Schrader           2062066
Keanu Reeves            2054941
Simon Hunter            2033165
Name: revenue, Length: 957, dtype: int64

In [379]:
answers['13'] = 'Peter Jackson' #+

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [380]:
data14 = data.copy()
data14['director'] = data14.director.str.split('|')
data14 = data14[data14.genres.str.contains('Action', na=False)]
data14.explode('director').groupby(['director'])['imdb_id'].count().sort_values()

director
Jon Avnet             1
Jim Gillespie         1
Jimmy Hayward         1
Roger Spottiswoode    1
Joe Cornish           1
                     ..
Antoine Fuqua         6
Ridley Scott          6
Michael Bay           7
Paul W.S. Anderson    7
Robert Rodriguez      9
Name: imdb_id, Length: 364, dtype: int64

In [381]:
answers['14'] = 'Robert Rodriguez' #+

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [382]:
data15 = data.copy()
data15 = data15[data15.release_year ==2012]
data15['casts'] = data15.cast.str.split('|')
data15 = data15.explode('casts')

hirest = data15.groupby('casts')['revenue'].sum().max()
data15.groupby('casts')['revenue'].sum()[data15.groupby('casts')['revenue'].sum()==hirest]

casts
Chris Hemsworth    2027450773
Name: revenue, dtype: int64

In [383]:
answers['15'] = 'Chris Hemsworth' #+

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [384]:
data16 = data.copy()
data16 = data16[data16.budget > data16.budget.mean()]
data16['casts'] = data16.cast.str.split('|')
data16 = data16.explode('casts')
data16.groupby('casts')['budget'].count().sort_values()

casts
50 Cent               1
Lena Olin             1
Lennie James          1
Leonard Nimoy         1
Leslie Bibb           1
                     ..
Samuel L. Jackson    15
Eddie Murphy         15
Angelina Jolie       16
Adam Sandler         17
Matt Damon           18
Name: budget, Length: 1505, dtype: int64

In [385]:
answers['16'] = 'Matt Damon' #+

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [386]:
data17  = data.copy()
data17['casts'] = data17.cast.str.split('|')
data17 = data17.explode('casts')
data17['gener'] = data17.genres.str.split('|')
data17 = data17.explode('gener')
data17 = data17[data17.casts=='Nicolas Cage']
data17.groupby('gener').count()

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,casts
gener,,,,,,,,,,,,,,,,
Action,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17
Adventure,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7
Animation,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3
Comedy,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6
Crime,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10
Drama,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12
Family,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3
Fantasy,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8
History,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
Horror,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Mystery,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3
Romance,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Science Fiction,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4
Thriller,15,15,15,15,15,15,15,15,15,15,15,15,15,15,15,15
War,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1

In [387]:
answers['17'] = 'Action' #+

# 18. Самый убыточный фильм от Paramount Pictures

In [388]:
data18 = data.copy()
data18['production_company'] = data18.production_companies.str.split('|')
data18 = data18.explode('production_company')
data18 = data18[data18.production_company=='Paramount Pictures']
data18[data18.profit==data18.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,production_company
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,7/19/2002,6.0,2002,-64831034,Paramount Pictures

In [389]:
answers['18'] = 'K-19: The Widowmaker' #+

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [390]:
data19 = data.copy()
data19.groupby('release_year')['revenue'].sum().sort_values()

release_year
2000    10664099805
2001    13017764865
2002    14136361487
2003    14346123312
2006    14775042320
2005    15309425558
2004    15663430720
2007    18162406801
2008    18252781990
2009    20261791024
2010    21071204961
2011    22676791872
2012    23079001687
2013    23213799791
2014    23405862953
2015    25449202382
Name: revenue, dtype: int64

In [391]:
answers['19'] = 2015 #+

# 20. Какой самый прибыльный год для студии Warner Bros?

In [392]:
data20 = data.copy()
data20['production_company'] = data20.production_companies.str.split('|')
data20 = data20.explode('production_company')
data20 = data20[data20.production_company.str.contains('Warner Bros', na=False)]
data20.groupby('release_year')['profit'].sum().sort_values()

release_year
2000     452631386
2006     625351872
2015     870368348
2002    1022709901
2012    1258020056
2001    1282142579
2005    1551980298
2004    1631933725
2013    1636453400
2009    1822454136
2003    1844008221
2011    1871393682
2010    1974712985
2008    2134595031
2007    2201675217
2014    2292949646
Name: profit, dtype: int64

In [393]:
answers['20'] = 2014 #+

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [394]:
def release_month(release_date):
    release_month = release_date.split('/')[0]
    return release_month

In [395]:
data21 = data.copy()
data21['release_month'] = data21.release_date.apply(release_month)
data21.groupby('release_month')['imdb_id'].count().sort_values()

release_month
1     110
2     135
5     140
7     142
11    146
6     147
4     149
3     156
8     161
10    186
12    190
9     227
Name: imdb_id, dtype: int64

In [396]:
answers['21'] = 'Сентябрь' #+

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [397]:
data22 = data.copy()
data22['release_month'] = data22.release_date.apply(release_month)
data22 = data22[(data22['release_month']=='6') | (data22['release_month']=='7') | (data22['release_month']=='8')]
data22.groupby('release_month')['imdb_id'].count().sum()

450

In [398]:
answers['22'] = 450 #+

# 23. Для какого режиссера зима – самое продуктивное время года?

In [399]:
data23 = data.copy()
data23['release_month'] = data23.release_date.apply(release_month)
data23 = data23[(data23['release_month']=='12') | (data23['release_month']=='1') | (data23['release_month']=='2')]
data23['director'] = data23.director.str.split('|')
data23 =data23.explode('director')
data23.groupby('director')['imdb_id'].count().sort_values()

director
Jon Avnet                1
Matthew Vaughn           1
Matthew O'Callaghan      1
Matt Reeves              1
Matt Bettinelli-Olpin    1
                        ..
Adam Shankman            4
Martin Scorsese          4
Clint Eastwood           6
Steven Soderbergh        6
Peter Jackson            7
Name: imdb_id, Length: 358, dtype: int64

In [400]:
answers['23'] = 'Peter Jackson' #+

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [401]:
data24 =  data.copy()
data24['production_company'] = data24.production_companies.str.split('|')
data24 = data24.explode('production_company')
data24['title_length']= data24.original_title.apply(lambda x: len(x))
data24.groupby('production_company')['title_length'].mean().sort_values()

production_company
Global Entertainment Group     2.0
Ixtlan Productions             2.0
XM2 Productions                2.0
Berlanti Productions           3.0
Everest Entertainment          3.0
                              ...
Polsky Films                  46.0
Museum Canada Productions     46.0
Dos Corazones                 47.0
Jim Henson Company, The       59.0
Four By Two Productions       83.0
Name: title_length, Length: 1771, dtype: float64

In [402]:
answers['24'] = 'Four By Two Productions' #+

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [403]:
data25 =  data.copy()
data25['production_company'] = data25.production_companies.str.split('|')
data25 = data25.explode('production_company')
data25['overview_length']  = data.overview.apply(lambda x: len(x.split()))
data25.groupby('production_company')['overview_length'].mean().sort_values()

production_company
Motion Picture Corporation of America     11.0
Empire Pictures                           11.0
Henceforth                                13.0
Phantom Four                              13.0
London Boulevard                          13.0
                                         ...
Brookwell-McNamara Entertainment         156.0
Heineken Branded Entertainment           159.0
98 MPH Productions                       159.0
Room 9 Entertainment                     161.0
Midnight Picture Show                    175.0
Name: overview_length, Length: 1771, dtype: float64

In [404]:
answers['25'] = 'Midnight Picture Show' #+

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [405]:
data26 =  data.copy()
data26 = data26.sort_values('vote_average')
data26[data26.vote_average >data26.vote_average.quantile(0.99)]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1191,tt2024544,20000000,187000000,12 Years a Slave,Chiwetel Ejiofor|Michael Fassbender|Lupita Nyo...,Steve McQueen,The extraordinary true story of Solomon Northup,"In the pre-Civil War United States, Solomon No...",134,Drama|History,Plan B Entertainment|Regency Enterprises|River...,10/18/2013,7.9,2013,167000000
872,tt0253474,35000000,120072577,The Pianist,Adrien Brody|Thomas Kretschmann|Frank Finlay|M...,Roman Polanski,Music was his passion. Survival was his master...,The Pianist is a film adapted from the biograp...,150,Drama|War,Bac Films|Canal+Polska|Heritage Films|Studio B...,9/24/2002,7.9,2002,85072577
128,tt2267998,61000000,369330363,Gone Girl,Ben Affleck|Rosamund Pike|Carrie Coon|Neil Pat...,David Fincher,You don't know what you've got 'til it's...,With his wife's disappearance having become th...,145,Mystery|Thriller|Drama,Twentieth Century Fox Film Corporation|Regency...,10/1/2014,7.9,2014,308330363
1800,tt0209144,9000000,39723096,Memento,Guy Pearce|Carrie-Anne Moss|Joe Pantoliano|Mar...,Christopher Nolan,Some memories are best forgotten.,Suffering short-term memory loss after a head ...,113,Mystery|Thriller,Summit Entertainment|Newmarket Capital Group|T...,10/11/2000,7.9,2000,30723096
119,tt2015381,170000000,773312399,Guardians of the Galaxy,Chris Pratt|Zoe Saldana|Dave Bautista|Vin Dies...,James Gunn,All heroes start somewhere.,"Light years from Earth, 26 years after being a...",121,Action|Science Fiction|Adventure,Marvel Studios|Moving Picture Company (MPC)|Bu...,7/30/2014,7.9,2014,603312399
370,tt1375666,160000000,825500000,Inception,Leonardo DiCaprio|Joseph Gordon-Levitt|Ellen P...,Christopher Nolan,Your mind is the scene of the crime.,"Cobb, a skilled thief who commits corporate es...",148,Action|Thriller|Science Fiction|Mystery|Adventure,Legendary Pictures|Warner Bros.|Syncopy,7/14/2010,7.9,2010,665500000
1183,tt0993846,100000000,392000694,The Wolf of Wall Street,Leonardo DiCaprio|Jonah Hill|Margot Robbie|Kyl...,Martin Scorsese,EARN. SPEND. PARTY.,A New York stockbroker refuses to cooperate in...,180,Crime|Drama|Comedy,Paramount Pictures|Appian Way|EMJAG Production...,12/25/2013,7.9,2013,292000694
138,tt2278388,30000000,174600318,The Grand Budapest Hotel,Ralph Fiennes|Tony Revolori|F. Murray Abraham|...,Wes Anderson,A perfect holiday without leaving home.,The Grand Budapest Hotel tells of a legendary ...,99,Comedy|Drama,Fox Searchlight Pictures|Scott Rudin Productio...,2/26/2014,7.9,2014,144600318
1081,tt0167260,94000000,1118888979,The Lord of the Rings: The Return of the King,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,The eye of the enemy is moving.,Aragorn is revealed as the heir to the ancient...,201,Adventure|Fantasy|Action,WingNut Films|New Line Cinema,12/1/2003,7.9,2003,1024888979
34,tt3170832,6000000,35401758,Room,Brie Larson|Jacob Tremblay|Joan Allen|Sean Bri...,Lenny Abrahamson,Love knows no boundaries,Jack is a young boy of 5 years old who has liv...,117,Drama|Thriller,Element Pictures|No Trace Camping|A24|Duperele...,10/16/2015,8.0,2015,29401758
118,tt0816692,165000000,621752480,Interstellar,Matthew McConaughey|Jessica Chastain|Anne Hath...,Christopher Nolan,Mankind was born on Earth. It was never meant ...,Interstellar chronicles the adventures of a gr...,169,Adventure|Drama|Science Fiction,Paramount Pictures|Legendary Pictures|Warner B...,11/5/2014,8.0,2014,456752480
9,tt2096673,175000000,853708609,Inside Out,Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...,Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,Comedy|Animation|Family,Walt Disney Pictures|Pixar Animation Studios|W...,6/9/2015,8.0,2015,678708609
125,tt2084970,14000000,233555708,The Imitation Game,Benedict Cumberbatch|Keira Knightley|Matthew G...,Morten Tyldum,The true enigma was the man who cracked the code.,Based on the real life story of legendary cryp...,113,History|Drama|Thriller|War,Black Bear Pictures|Bristol Automotive,11/14/2014,8.0,2014,219555708
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825

In [406]:
answers['26'] = ['Inside Out', 'The Dark Knight', '12 Years a Slave']

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

In [407]:
from itertools import combinations

In [408]:
data27 = data.copy()
data27['cast'] = data27.cast.str.split('|')
data27.cast = data27.cast.apply(lambda x: list(combinations(sorted(x),2)))
data27.explode('cast').cast.value_counts()

(Daniel Radcliffe, Emma Watson)        8
(Emma Watson, Rupert Grint)            8
(Daniel Radcliffe, Rupert Grint)       8
(Helena Bonham Carter, Johnny Depp)    6
(Ben Stiller, Owen Wilson)             6
                                      ..
(Adam Sandler, Susan Sarandon)         1
(Geoffrey Rush, Timothy Spall)         1
(Mary-Kate Olsen, Vanessa Hudgens)     1
(Jenna Fischer, Susan Sarandon)        1
(Bob Peterson, Christopher Plummer)    1
Name: cast, Length: 17943, dtype: int64

In [409]:
answers['27'] = 'Daniel Radcliffe & Rupert Grint' #+

# Submission

In [410]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides',
 '2': 'Gods and Generals',
 '3': 'Winnie the Pooh',
 '4': '110',
 '5': 107.0,
 '6': 239    Avatar
 Name: original_title, dtype: object,
 '7': 1245    The Lone Ranger
 Name: original_title, dtype: object,
 '8': 1478,
 '9': 'The Dark Knight',
 '10': 'The Lone Ranger',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': 2015,
 '20': 2014,
 '21': 'Сентябрь',
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': ['Inside Out', 'The Dark Knight', '12 Years a Slave'],
 '27': 'Daniel Radcliffe & Rupert Grint'}

In [411]:
# и убедиться что ни чего не пропустил)
len(answers)

27