In [1]:
# Загрузка библиотек
import numpy as np # для работы с массивами
import pandas as pd # для работы DataFrame 
import seaborn as sns # библиотека для визуализации статистических данных
import matplotlib.pyplot as plt # для построения графиков

%matplotlib inline

In [2]:
df=pd.read_csv('Admission_Predict_Ver1.1.csv')

In [4]:
df.shape

(500, 9)

In [6]:
df.corr()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
Serial No.,1.000000,-0.103839,-0.141696,-0.067641,-0.137352,-0.003694,-0.074289,-0.005332,0.008505
GRE Score,-0.103839,1.000000,0.827200,0.635376,0.613498,0.524679,0.825878,0.563398,0.810351
TOEFL Score,-0.141696,0.827200,1.000000,0.649799,0.644410,0.541563,0.810574,0.467012,0.792228
University Rating,-0.067641,0.635376,0.649799,1.000000,0.728024,0.608651,0.705254,0.427047,0.690132
SOP,-0.137352,0.613498,0.644410,0.728024,1.000000,0.663707,0.712154,0.408116,0.684137
LOR,-0.003694,0.524679,0.541563,0.608651,0.663707,1.000000,0.637469,0.372526,0.645365
CGPA,-0.074289,0.825878,0.810574,0.705254,0.712154,0.637469,1.000000,0.501311,0.882413
Research,-0.005332,0.563398,0.467012,0.427047,0.408116,0.372526,0.501311,1.000000,0.545871
Chance of Admit,0.008505,0.810351,0.792228,0.690132,0.684137,0.645365,0.882413,0.545871,1.000000

In [10]:
df_res_1 = df[df['Research']==1]
df_res_0 = df[df['Research']==0]

In [25]:
df_res_0.shape

(220, 9)

In [13]:
df_res_1.corr()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
Serial No.,1.000000,-0.094895,-0.140706,-0.058624,-0.109004,0.010475,-0.049214,NaN,0.024458
GRE Score,-0.094895,1.000000,0.824170,0.614739,0.613318,0.443374,0.806720,NaN,0.802439
TOEFL Score,-0.140706,0.824170,1.000000,0.602445,0.629436,0.436199,0.784173,NaN,0.787180
University Rating,-0.058624,0.614739,0.602445,1.000000,0.723126,0.573881,0.692237,NaN,0.713094
SOP,-0.109004,0.613318,0.629436,0.723126,1.000000,0.591858,0.717750,NaN,0.708238
LOR,0.010475,0.443374,0.436199,0.573881,0.591858,1.000000,0.564794,NaN,0.588558
CGPA,-0.049214,0.806720,0.784173,0.692237,0.717750,0.564794,1.000000,NaN,0.892489
Research,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Chance of Admit,0.024458,0.802439,0.787180,0.713094,0.708238,0.588558,0.892489,NaN,1.000000

In [52]:
TOEFL = df_res_0['TOEFL Score']
CGPA = df_res_0['CGPA']

A = np.column_stack((np.ones(220), TOEFL, CGPA))
A
y = df_res_0[['Chance of Admit ']]

In [53]:
TOEFL_mean = TOEFL.mean()
CGPA_mean = CGPA.mean()
y_mean = y.mean()

In [54]:
TOEFL_c = TOEFL - TOEFL_mean
CGPA_c  = CGPA - CGPA_mean
y_c = y-y_mean

In [55]:
TOEFL_norm = np.linalg.norm(TOEFL_c)
CGPA_norm = np.linalg.norm(CGPA_c)
y_norm = np.linalg.norm(y_c)

In [56]:
TOEFL_st  = TOEFL_c/TOEFL_norm
CGPA_st  = CGPA_c/CGPA_norm
y_st  = y_c/y_norm
A_st = np.column_stack((TOEFL_st, CGPA_st))

In [57]:
np.linalg.inv(A_st.T@A_st)@A_st.T@y_st.values

array([[0.19044768],
       [0.62001517]])

In [34]:
new = np.array([1,TOEFL_Score, CGPA])

In [35]:
new@w_hat

Chance of Admit     0.776359
dtype: float64